body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(/img/fundo\ da\ descrição.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 27px 40px;
}

header h1 {
    margin: 0;
    font-family: 'Cinzel', serif;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #c9a85d;
}

.banner {
    height:60vh;
    background: url("fundo.jpg") no-repeat center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: rgba(185, 159, 91);
}

.banner h2 {
    font-size: 45px;
    margin: 70px;
    font-family: 'Cinzel', serif;
}

.banner p {
    font-size: 20px;
    margin: 10px 0 20px;
    max-width: 1000px;
    color: white;
}

.botao {
    padding: 12px 30px;
    background-color: rgba(163, 135, 98, 0.9);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.botao:hover {
    background-color: #4d483c;
}

